<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('navcity_api_welcome_index') }}">
                <img src="{{ asset('apple-touch-icon.png') }}" width="27"> NavCity
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-ex1-collapse">
            <div class="col-md-6">
                <form class="navbar-form" role="search" method="post" action="{{ url('navcity_api_search_form') }}">
                    <div class="input-group">
                        <input type="text" class="search-query form-control"
                               value="{{ app.request.get('term') }}"
                               placeholder="{{ 'Search'|trans }}" name="term">

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="sr-only">Search</span>
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container">

    {% block body %}{% endblock %}

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
