{% extends '::base.html.twig' %}

{% block body -%}
    <h1>City creation</h1>

    <form action="{{ path('city_create') }}" method="post" {{ form_enctype(form) }}
          class="form-horizontal">
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('city') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
