{% extends "::base.html.twig" %}

{% block title %}NavCityApiBundle:Welcome:index{% endblock %}

{% block body %}
    <h1>{{ 'Welcome to NavCity'|trans }}</h1>

    <p>{{ 'Please see below latest points of interest'|trans }}</p>

    {{ google_map_container(map) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ google_map_css(map) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ google_map_js(map) }}
{% endblock %}
